@import url(../assets/fonts/imports.css);

.word-icon>img {
    width: 1.5em;
}

.modal {
    display: flex;
    justify-content: space-between;
    background-color: #FFF5E4;
    width: 35%;
    padding: 3em;
    border-radius: 2em;
    z-index: 1;

    /*Center and hides the div by setting the scale to 0*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.x-bttn>button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    border: 0;
    background-color: transparent;
    color: #3B3B3B;
}

.x-bttn>button:hover {
    cursor: pointer;
}

.word-icon {
    display: flex;
    align-items: center;
}

.word-icon>h1, .part-of-speech, .def-title, .word-meaning, .ex-title, .sample-sentence {
    font-family: 'Quicksand', sans-serif;
}

.word-icon>h1, .word-meaning, .part-of-speech, .sample-sentence {
    color: #3B3B3B;
}

.def-title, .ex-title {
    color: #595959;
}

.word-icon>h1 {
    font-size: 2.5em;
    margin-right: 1.5em;
}

.word-icon>img:hover {
    cursor: pointer;
}

.part-of-speech {
    font-size: 1em;
    font-weight: 300;
}

.word-def, .example {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.def-title {
    margin-bottom: .7em;
    font-size: .9em;
}

.word-meaning {
    margin-left: 1em;
}

.ex-title {
    margin-bottom: .7em;
    font-size: .9em;
}

.sample-sentence {
    border-left: .3em solid #3B3B3B;
    padding: .5em 0 .5em 1.5em;
}

#overlay {
    position: fixed;
    opacity: 0;

    /* To make the overlay fit the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #3B3B3B;
    pointer-events: none;
    transition: 500ms ease-in-out;
}
#overlay.active {
    opacity: 77%;
    pointer-events: all;
}